<h1 class="main_head">Search Results</h1>
<div style="display: flex; justify-content: left; width: 100vw;flex-wrap: wrap;margin: 0vw 5vw;">
<% @search.each do |i| %>
<div class="image_container">
	<img src=<%= i["attributes"]["table"]["urls"]["regular"]%>>
	<div class="image_desc">
		<p>Photo by Unsplash/<%= i["attributes"]["table"]["user"]["name"]%></p>
		<a href=<%= i["attributes"]["table"]["user"]["links"]["html"]%>>Check Profile</a>
	</div>
</div>

<% end %>
</div>
